* {
  font-size: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

td {
  padding: 5px;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  margin-left: 2px; /* Negative margin moves the scrollbar left */
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #003834;
}
